button {
  cursor: pointer;
  cursor: hand;
}

.soundcloud {
  color: #fff !important;
  background-color: orange !important;
  border-color: darkorange !important;
}

$red: #dc3545;

.form-error {
  color: $red !important;
  border-color: $red !important;
}

.form-error-group {
  color: white !important;
  background-color: $red !important;
  border-color: $red !important;
}

